<h1>Employee Dashboard</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th (click)="sort('employeeId')"> Employee Id&nbsp;<i class="fa fa-sort"></i></th>
      <th (click)="sort('employeeName')">Employee Name&nbsp;<i class="fa fa-sort"></i></th>
      <th>Employee Salary</th>
      <th>Employee Age</th>
      <th>Profile Image</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees | orderBy: key : reverse | paginate:{itemsPerPage:10,currentPage:p};">
      <td>{{employee.employeeId}}</td>
      <td>{{employee.employeeName}}</td>
      <td>{{employee.employeeSalary}}</td>
      <td>{{employee.employeeAge}}</td>
      <td>{{employee.profileImage}}</td>
    </tr>
  </tbody>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</table>
