<h1>Employee Dashboard</h1>
<div *ngIf="employees.length>0">
<nav class="navbar">
  <input class="form-control" type= "text" name="employee_name" [(ngModel)]="employee_name" (ngModelChange)="Search()"
      placeholder="Enter name to search">
</nav>
<table class="table table-responsive w-100 d-block d-md-table">
  <thead>
    <tr>
      <th (click)="sort('id')"> Employee Id&nbsp;<i class="fa fa-sort"></i></th>
      <th (click)="sort('employee_name')">Employee Name&nbsp;<i class="fa fa-sort"></i></th>
      <th>Employee Salary</th>
      <th>Employee Age</th>
      <th>Profile Image</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees | orderBy: key : reverse | paginate:{itemsPerPage:10,currentPage:p};">
      <td>{{employee.id}}</td>
      <td>{{employee.employee_name}}</td>
      <td>{{employee.employee_salary}}</td>
      <td>{{employee.employee_age}}</td>
      <td>{{employee.profile_image}}</td>
    </tr>
  </tbody>
</table>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
